.m-video-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.m-video {
	width: 100%;
	height: 100%;

	background-color: #000;
}


.m-video-selector {
	z-index: 5;
	position: absolute;
	inset: 0px 0px auto 0px;

	width: 100%;
	height: 40px;
	padding: 5px 1rem;

	display: grid;
	grid-template-columns: 1fr minmax(200px, 8fr);
	gap: 1rem;
}


.m-video-voiceover-select {
	padding: 5px 10px;

	border: none;
	border-radius: 5px;
	background-color: var(--mVideo-bl1-color);

	color: var(--mVideo-txt-color);
}


.m-video-selector-episode-slider {
	width: 100%;

	display: block;
}
.m-video-selector-episode-list {
	width: 100%;
	height: 100%;

	border-radius: 5px;
	background-color: var(--mVideo-bl1-color);
}

.m-video-wrapper {
	& .slick-arrow {
		height: 30px;
		padding: 5px 7px;

		border-radius: 0;
		background-color: transparent;

		color: var(--mVideo-txt-color);

		transition: opacity .2s linear;

		&:hover {
			opacity: .6;
		}

		& > svg {
			width: auto;
			height: 100%;
		}
	}
	& .slick-slider {
		display: flex;
		flex-direction: row;
	}
	& .slick-list {
		width: 100%;
	}
	& .slick-track {
		height: 100%;
		gap: 0px !important;
	}
}

.m-video-selector.hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}
.m-video-selector-episode {
	position: relative;

	display: grid !important;
	align-content: center;

	text-align: center;
	font-size: .75em;
	color: var(--mVideo-txt-color);
	
	cursor: pointer;
	user-select: none;

	transition: background-color .2s linear;

	&:hover {
		background-color: #00000077;
	}

	&::before {
		content: "";

		position: absolute;

		inset: auto 50% 0 50%;
		transform: translate(-50%, -50%);

		width: 0px;
		height: 3px;

		border-radius: 10px;
		background-color: var(--mVideo-success-color);

		transition: width .2s linear;
	}
	&.active::before {
		width: 20px;
	}
}
.m-video-selector-episode::after {
	content: "";
	position: absolute;

	inset: 50% 0 50% auto;
	transform: translate(-50%, -50%);

	width: 2px;
	height: 70%;

	border-radius: 2px;
	background-color: var(--mVideo-bl2-color);

	transition: background-color .2s linear;
}
.m-video-selector-episode:hover::after {
	background-color: var(--mVideo-txt-color);
}


.video-areas {
	position: absolute;
	inset: 0 0 0 0;
	z-index: 4;

	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
}

.video-rewind-area {
	display: grid;
	place-content: center;
}
.video-rewind-arrow {
	position: relative;
	z-index: 5;

	opacity: 0;
	overflow: hidden;

	padding: 20px 10px;

	display: grid;
	grid-template-columns: repeat(3, 20px);
	grid-template-rows: 20px;
	place-content: center;
	gap: .25rem;

	border-radius: 10px;
	background-color: #00000055;
}
.video-rewind-arrow > svg {
	width: auto;
	height: 100%;
}



.video-big-play-btn, .video-loader {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	
	width: 5.5rem;
	height: 4rem;
}
.video-big-play-btn {
	&.active {
		display: none;
	}
}
.video-loader {
	display: none;

	&.active {
		display: grid;
	}
}


.video-controls.hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}
.video-controls {
	position: absolute;
	bottom: 0;
	z-index: 5;

	width: 100%;
	padding: 5px 1rem;

	display: grid;
	grid-template-columns: 55px auto 40px;
	grid-template-rows: 30px;
	gap: 1rem;

	/* background-color: var(--mVideo-bl1-color); */

	color: var(--mVideo-txt-color);
	font-size: .85rem;
}

.video-volume-cont {
	display: grid;
	grid-template-columns: 40px 50px;
	gap: .25rem;
}

.toggle-play-btn, .video-fullscreen-btn, .video-volume-btn {
	display: grid;
	place-content: center;

	color: var(--mVideo-txt-color);

	& > svg {
		max-width: 20px;
	}
}
.toggle-play-btn, .video-fullscreen-btn {
	border-radius: 5px;
	background-color: var(--mVideo-bl1-color);

	transition: opacity .2s linear;

	&:hover {
		opacity: .6;
	}
}
.video-volume-btn {
	background-color: transparent;

	& > svg {
		transition: opacity .2s linear;
	}
	&:hover > svg {
		opacity: .6;
	}
}

.toggle-play-btn.active {
	& > .play {
		display: block;
	}
	& > .pause {
		display: none;
	}
}
.video-volume-btn.active {
	& > .volume {
		display: block;
	}
	& > .mute {
		display: none;
	}
}
.video-fullscreen-btn.active {
	& > .fullscreen {
		display: none;
	}
	& > .minimize {
		display: block;
	}
}
.toggle-play-btn > .play,
.video-fullscreen-btn > .minimize,
.video-volume-btn > .volume {
	display: none;
}
.toggle-play-btn > .pause,
.video-fullscreen-btn > .fullscreen,
.video-volume-btn > .mute {
	display: block;
	color: var(--mVideo-txt-color);
}

.toggle-play-btn > svg {
	width: 100%;
	height: auto;
}



.video-position-cont {
	padding: 0 1rem;
	display: grid;
	grid-template-columns: max-content auto max-content max-content;
	gap: 1rem;

	border-radius: 5px;
	background-color: var(--mVideo-bl1-color);
}

.video-current-time, .video-duration {
	align-self: center;
}

.video-progress, .video-volume {
	position: relative;

	align-self: center;
	height: 10px;

	border-radius: 4px;
	background-color: var(--mVideo-bl2-color);
}
.video-progress-bar, .video-volume-bar, .video-hover-progress {
	position: absolute;
	height: 100%;

	border-radius: 4px;
}
.video-progress-bar, .video-volume-bar {
	background-color: var(--mVideo-txt-color);
}
.video-hover-progress {
	background-color: #FFFFFF35;
}

.video-hover-time {
	padding: 3px 5px;

	position: absolute;
	top: -30px;
	left: 0;

	display: none;

	transform: translateX(-50%);

	border-radius: 3px;
	background-color: var(--mVideo-bl2-color);
}


@media screen and (max-width: 720px) {
	.video-controls {
		gap: .5rem;
	}


	.video-big-play-btn {
		width: 5rem;
		height: 3.5rem;
	}

	.video-position-cont {
		grid-template-columns: max-content auto max-content;
		gap: .5rem;
	}

	.video-volume-cont {
		display: none;
	}
}